.container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 130px;
    flex-grow: 0;
}

.label{
    font-size: var(--fs-14);
    font-weight: 700;
    font-style: normal;
    line-height: 21px;
    letter-spacing: 0.25em;
    color: #716F6F
}

.input {
    width: 160px;
    height: 72px;
    border-radius: 8px;
    border: 1px solid #DCDCDC;
    padding: 0px 24px;
    font-size: var(--fs-32);
    font-weight: 700;
    font-style: normal;
    line-height: 48px;
    letter-spacing: 0.01em;
    color: #151515;
    flex-shrink: 0;
}

.input:focus{
    border: 1px solid #854DFF;
    outline: none;
}

.input::placeholder {
    color: #151515;
    opacity: 0.5;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.errorMessage{
    display: none;
    font-size: var(--fs-14);
    font-style: italic;
    font-weight: 400;
    line-height: 21px;
    color: #FF5959;
}


@media(max-width: 720px){
    .container{
        width: 30%;
    }
    .input{
        width: 100%;
        padding: 16px;
    }
}

@media(max-width: 500px){
    .container{
        width: 87.67px;
        gap: 4px;
    }

    .label{
        font-size: var(--fs-12);
        line-height: 18px;
        letter-spacing: 0.25em;
    }

    .input{
        font-size: var(--fs-20);
        line-height: 30px;
        letter-spacing: 0.01em;
        height: 54px;
    }

    .errorMessage{
        font-size: var(--fs-10);
        text-align: center;
    }
}